html,
body {
	height: 100%;
}

p + p {
	margin-top: 10px;
}

.page-main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.page-header,
.page-footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.page-header--h1,
.page-header--h2 {
	line-height: 1;
}

.page-header--h1 {
	font-size: 30px;
}

.page-header--h1:after {
	content: "";
	display: block;
	height: 1px;
	background-color: #AAA;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-header--h2 {
	color: #AAA;
	font-size: 20px;
}

.menu {
	position: relative;
}

.menu-btn {
	width: 40px;
	height: 40px;
	z-index: 2;
}

.menu-btn.active .menu-btn__line {
	margin: -3px auto;
}

.menu-btn.active .menu-btn__line:nth-child(1) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-btn.active .menu-btn__line:nth-child(2) {
	display: none;
}

.menu-btn.active .menu-btn__line:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu-btn__line {
	display: block;
	position: relative;
	border-top: 1px solid #333;
	margin: 8px 5px;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}

.menu-dropdown {
	display: none;
	position: absolute;
	right: 0;
	width: 200px;
	padding: 10px;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 5px 0px #AAA;
	box-shadow: 0px 0px 5px 0px #AAA;
	z-index: 1;
}

.menu-dropdown-list {
	list-style: none;
	padding: 0;
}

.menu-link {
	display: block;
	padding: 5px;
	color: #333;
}

.content {
	display: none;
}

.portrait-img {
	display: block;
	border-radius: 100%;
}

.project {
	height: 100%;
	padding: 10%;
	background: #EEE;
	text-align: center;
}

.project__title {
	margin-bottom: .5em;
}

.project__btn {
	display: inline-block;
	padding: .5em 1em;
	border-radius: 5px;
}

.page-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.html-5-logo {
	margin-top: .5em;
}

@media only screen and (min-width: 480px) {

.page-header--h1 {
	font-size: 40px;
}

.page-header--h2 {
	font-size: 22px;
}

.page-footer {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: left;
}

.html-5-logo {
	margin-top: 0;
}

}

@media only screen and (min-width: 768px) {

.page-header,
.page-footer {
	padding-top: 40px;
	padding-bottom: 40px;
}

}

