@import '_config.less';

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: #333;
    text-rendering: optimizeLegibility;
}

a {
    color: steelblue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    padding: 0;
    background-color: transparent;
    border-style: none;
    outline: 0;
    font-family: inherit;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header,
.page-footer {
    padding-top: 20px;
    padding-bottom: 20px;

    @media @md {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@logoSecondaryColor: #aaa;

.logo {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}

.logo__title {
    font-size: 30px;

    @media @sm {
        font-size: 40px;
    }

    &:after {
        content: "";
        display: block;
        height: 1px;
        background-color: @logoSecondaryColor;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.logo__subtitle {
    display: block;
    color: @logoSecondaryColor;
    font-size: 20px;

    @media @sm {
        font-size: 22px;
    }
}

.menu {
    position: relative;
}

@menu-btn-size: 40px;

.menu-btn__line-wrapper {
    width: @menu-btn-size;
    height: @menu-btn-size;
    z-index: 2;
}

.menu-btn.active {
    .menu-btn__line {
        margin-top: -1px;
        margin-bottom: -1px;
    }
    .menu-btn__line:nth-child(1) {
        transform: rotate(45deg);
    }
    .menu-btn__line:nth-child(2) {
        display: none;
    }
    .menu-btn__line:nth-child(3) {
        transform: rotate(-45deg);
    }
}

.menu-btn__line-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btn__line {
    display: block;
    width: 80%;
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: 1px solid #333;
    transition: transform .2s;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 0px #AAA;
    z-index: 1;
}

.menu-dropdown-list {
    padding-left: 0;
    list-style: none;
}

.menu-link {
    display: block;
    padding: 5px;
    color: #333;
}

.content {
    display: none;
}

.about {
    display: grid;
    grid-gap: 2rem;

    @media @md {
        grid-template-columns: 1fr 1fr;
    }
}

.projects-list {
    padding-left: 0;
    list-style: none;
}

.portrait-img {
    display: block;
    border-radius: 100%;
    justify-self: center;

    @media @md {
        justify-self: end;
    }
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media @sm {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}

.heart {
    color: firebrick;
}

.html-5-logo {
    margin-top: .5em;

    @media @sm {
        margin-top: 0;
    }
}
