@import '_config.less';

html,
body {
    height: 100%; 
}

p + p {
    margin-top: 10px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-main {
    flex-grow: 1;
}

.page-header,
.page-footer {
    padding-top: 20px;
    padding-bottom: 20px;

    @media @md {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.page-header--h1,
.page-header--h2 {
    line-height: 1;
}

.page-header--h1 {
    font-size: 30px;

    @media @sm {
        font-size: 40px;
    }

    &:after {
        content: "";
        display: block;
        height: 1px;
        background-color: #AAA;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.page-header--h2 {
    color: #AAA;
    font-size: 20px;

    @media @sm {
        font-size: 22px;
    }
}

.menu {
    position: relative;
}

@menu-btn-size: 40px;

.menu-btn {
    width: @menu-btn-size;
    height: @menu-btn-size;
    z-index: 2;

    &.active {
        .menu-btn__line {
            margin: -3px auto;
        }
        .menu-btn__line:nth-child(1) {
            transform: rotate(45deg);
        }
        .menu-btn__line:nth-child(2) {
            display: none;
        }
        .menu-btn__line:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

.menu-btn__line {
    display: block;
    position: relative;
    border-top: 1px solid #333;
    margin: 8px 5px;
    transition: transform .2s;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 0px #AAA;
    z-index: 1;
}

.menu-dropdown-list {
    list-style: none;
    padding: 0;
}

.menu-link {
    display: block;
    padding: 5px;
    color: #333;
}

.content {
    display: none;
}

.portrait-img {
    display: block;
    border-radius: 100%;
}

.project {
    height: 100%;
    padding: 10%;
    background: #EEE;
    text-align: center;
}

.project__title {
    margin-bottom: .5em;
}

.project__btn {
    display: inline-block;
    padding: .5em 1em;
    border-radius: 5px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media @sm {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
    }
}

.html-5-logo {
    margin-top: .5em;

    @media @sm {
        margin-top: 0;
    }
}